This notebook contain the code used to prepare the dataset for analysis

In [183]:
import pandas as pd
from sklearn.model_selection import train_test_split

Importing and defining the features needed for the project

In [184]:
main_df = pd.read_csv("dataset/Database.csv")

In [185]:
variables_used_by_ryo = ["Relative yield change", 
                         "Crop","Yield of CT", 
                         "Latitude", "Longitude", 
                         "Years since NT started (yrs)", 
                         "Crop rotation with at least 3 crops involved in CT", 
                         "Crop rotation with at least 3 crops involved in NT", 
                         "ST", "Soil cover in CT", "Soil cover in NT", 
                         "Weed and pest control CT", "Weed and pest control NT ", 
                         "P", "E", "PB","Tave", "Tmax", "Tmin"]

In [186]:
main_df.columns

Index(['Author', 'Journal', 'Year', 'Site country', 'Location', 'Latitude',
       'Longitude', 'Soil information recorded in the paper',
       'pH (surface layer)', 'Replications in experiment', 'Crop',
       'Initial year of NT practice ( or first year of experiment if missing)',
       'Sowing year', 'Harvest year', 'Years since NT started (yrs)',
       'Crop growing season recorded in the paper',
       'Crop rotation with at least 3 crops involved in CT',
       'Crop rotation with at least 3 crops involved in NT',
       'Crop sequence (details)', 'Cover crop before sowing',
       'Soil cover in CT', 'Soil cover in NT',
       'Residue management of previous crop in CT  (details)',
       'Residue management of previous crop in NT (details)',
       'Weed and pest control CT', 'Weed and pest control NT ',
       'Weed and pest control CT (details)',
       'Weed and pest control NT  (details)', 'Fertilization CT ',
       'Fertilization NT', 'N input',
       'N input rates with the unit kg N ha-1 (details)',
       'Field fertilization (details)', 'Irrigation CT', 'Irrigation NT',
       'Water applied in CT', 'Water applied in NT', 'Other information',
       'Yield of CT', 'Yield of NT', 'Relative yield change',
       'Yield increase with NT', 'Outlier of CT', 'Outlier of NT',
       'Sowing month', 'Harvesting month', 'P', 'E', 'PB', 'Tave', 'Tmax',
       'Tmin', 'ST'],
      dtype='object')

The features used by Ryo are extracted. Note that we are only interested in the columns for maize

In [187]:
ryo_df = main_df[variables_used_by_ryo]
ryo_df = ryo_df[ryo_df["Crop"] == "maize"]

Ryo also removed extreme values in the target variable by removing all values over the quantile=0.975

In [188]:
print(ryo_df.shape)
quantile = ryo_df["Relative yield change"].quantile(0.975)
mean = ryo_df["Relative yield change"].mean()
deviation = abs(mean - quantile)
removed_df = ryo_df[(ryo_df["Relative yield change"] >= quantile) | (ryo_df["Relative yield change"] <= (mean - deviation))]
ryo_df = ryo_df[(ryo_df["Relative yield change"] < quantile) & (ryo_df["Relative yield change"] > (mean - deviation))]
print(ryo_df.shape)

(1690, 19)
(1634, 19)

There are 56 rows that are removed because they are regarded as outliers.

In [189]:
removed_df.shape

(56, 19)

In [190]:
removed_df["Relative yield change"]

221     0.7477
421     4.0118
564     1.2667
739    -0.8448
1016   -0.8432
1439    0.6863
1501    0.7000
1511    0.7333
1707   -0.8235
1708    0.8908
1709    0.7861
1801   -0.7083
1802   -0.7500
1803   -0.8529
1804    1.3929
1834    0.8571
1835    0.7222
1872    1.2400
1928    0.7459
1981   -0.8946
2491   -0.8000
2499   -0.7333
2536    1.4484
2546    0.7336
2548    0.7911
2549    0.7111
2580    2.7018
2581    1.4446
2582    1.1049
2583    1.0558
2584    0.8801
2585    0.7504
2597    0.7461
2606    1.5273
2629   -0.7114
2765    0.9993
2800    2.2258
2919    7.5500
2920    5.4075
2944    0.8182
2945    1.4335
2951    3.9280
3005    0.6923
3281   -0.7143
3513    0.7231
3515    0.7147
3516    1.5691
3517    1.1087
3518    1.5239
3522    1.1020
3523    2.1568
3524    1.0128
3863    1.7380
3900   -0.7654
3924   -0.7666
3944    0.7545
Name: Relative yield change, dtype: float64

The variables used by Ryo are 17. But with crop and target, the number of features should be 19:

In [191]:
len(variables_used_by_ryo)

19

Create a basic summary of the features with pandas

In [192]:
ryo_df.describe()

,Relative yield change,Yield of CT,Latitude,Longitude,Years since NT started (yrs),P,E,PB,Tave,Tmax,Tmin
count,1634.000000,1634.000000,1634.000000,1634.000000,1634.000000,1634.000000,1634.000000,1634.000000,1634.000000,1634.000000,1634.000000
mean,-0.044385,8279.763948,30.484816,-28.499767,8.528764,542.804774,530.768170,12.036614,19.670762,29.585473,7.817098
std,0.205009,4252.759000,21.580311,73.954708,8.498231,230.689207,102.401038,224.948549,5.236771,4.508662,6.869790
min,-0.704000,200.000000,-37.750000,-123.240000,1.000000,-42.000000,249.642000,-741.692000,3.700000,15.771220,-9.697760
25%,-0.146250,5328.750000,29.070000,-89.900000,3.000000,398.000000,468.903000,-127.876000,16.385000,26.678800,3.594823
50%,-0.047450,8046.500000,39.065000,-75.720000,5.000000,520.800000,517.175500,-1.810000,19.458335,29.633890,6.116685
75%,0.049675,10489.727482,43.000000,30.250000,13.000000,659.400000,573.728000,116.410000,22.090000,32.072415,11.058870
max,0.684200,39730.000000,52.850000,150.870000,52.000000,1574.300000,1020.887000,957.391000,31.780000,41.915010,27.144980

In [193]:
ryo_df

,Relative yield change,Crop,Yield of CT,Latitude,Longitude,Years since NT started (yrs),Crop rotation with at least 3 crops involved in CT,Crop rotation with at least 3 crops involved in NT,ST,Soil cover in CT,Soil cover in NT,Weed and pest control CT,Weed and pest control NT,P,E,PB,Tave,Tmax,Tmin
18,-0.0851,maize,8189.0,24.38,90.13,1,Yes,Yes,Loam,NaN,NaN,NaN,NaN,1310.699997,373.681328,937.019,28.699999,32.452726,26.205395
19,-0.0845,maize,8488.0,24.38,90.13,2,Yes,Yes,Loam,No,Yes,NaN,NaN,930.100014,414.173600,515.926,29.475000,34.458927,26.814844
20,-0.0703,maize,8508.0,24.38,90.13,3,Yes,Yes,Loam,No,Yes,NaN,NaN,776.399979,417.035593,359.364,29.125000,33.386624,26.530992
21,-0.0748,maize,9066.0,24.38,90.13,1,Yes,Yes,Loam,NaN,NaN,NaN,NaN,1310.699997,373.681328,937.019,28.699999,32.452726,26.205395
22,-0.0819,maize,9245.0,24.38,90.13,2,Yes,Yes,Loam,No,Yes,NaN,NaN,930.100014,414.173600,515.926,29.475000,34.458927,26.814844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4398,0.0000,maize,4400.0,45.53,17.98,2,No,No,Loam,No,No,Yes,Yes,584.800000,437.793000,147.007,15.000000,26.143220,3.250900
4399,-0.1186,maize,5900.0,45.53,17.98,3,No,No,Loam,No,No,Yes,Yes,524.000000,484.803000,39.197,16.257140,26.767580,4.045250
4400,-0.0992,maize,12100.0,45.55,18.69,2,No,No,Loam,No,No,Yes,Yes,533.100000,443.249000,89.851,15.757140,26.233920,3.628730
4401,-0.0758,maize,6600.0,45.55,18.69,3,No,No,Loam,No,No,Yes,Yes,507.200000,488.113000,19.087,17.000000,27.076650,4.489370
4402,-0.2128,maize,9400.0,45.55,18.69,4,No,No,Loam,No,No,Yes,Yes,374.500000,483.660000,-109.160,17.300000,26.919080,3.412560

We see that there are 3 columns containing nan values, that we need to deal with. We also need to convert the categorical features to contain numeric values.

In [194]:
ryo_df[ryo_df.columns[ryo_df.dtypes == object]].describe()

,Crop,Crop rotation with at least 3 crops involved in CT,Crop rotation with at least 3 crops involved in NT,ST,Soil cover in CT,Soil cover in NT,Weed and pest control CT,Weed and pest control NT
count,1634,1634,1634,1634,1436,1436,1379,1379
unique,1,2,2,6,3,3,2,2
top,maize,No,No,Loam,No,Yes,Yes,Yes
freq,1634,1270,1270,1135,1388,1112,1372,1372

Change categories

In [195]:
unique_values = ryo_df["Crop rotation with at least 3 crops involved in CT"].unique()
mapping_for_Crop_rotation = {}
for i, val in enumerate(unique_values):
    mapping_for_Crop_rotation[val] = i

ryo_df["Crop rotation with at least 3 crops involved in CT"].replace(list(mapping_for_Crop_rotation.keys()), list(mapping_for_Crop_rotation.values()), inplace=True)
ryo_df["Crop rotation with at least 3 crops involved in NT"].replace(list(mapping_for_Crop_rotation.keys()), list(mapping_for_Crop_rotation.values()), inplace=True)
ryo_df["Weed and pest control CT"].replace(list(mapping_for_Crop_rotation.keys()), list(mapping_for_Crop_rotation.values()), inplace=True)
ryo_df["Weed and pest control NT "].replace(list(mapping_for_Crop_rotation.keys()), list(mapping_for_Crop_rotation.values()), inplace=True)
mapping_for_Crop_rotation

{'Yes': 0, 'No': 1}

In [196]:
unique_values = ryo_df["ST"].unique()
mapping_for_ST = {}
for i, val in enumerate(unique_values):
    mapping_for_ST[val] = i

ryo_df["ST"].replace(list(mapping_for_ST.keys()), list(mapping_for_ST.values()), inplace=True)
mapping_for_ST

{'Loam': 0,
 'Clay loam': 1,
 'Sandy loam': 2,
 'Clay': 3,
 'Sandy clay loam': 4,
 'Sandy clay': 5}

In [197]:
unique_values = ryo_df[~ryo_df["Soil cover in CT"].isnull()]["Soil cover in CT"]
mapping_for_soil = {}
for i, val in enumerate(unique_values):
    mapping_for_soil[val] = i

ryo_df["Soil cover in CT"].replace(list(mapping_for_soil.keys()), list(mapping_for_soil.values()), inplace=True)
ryo_df["Soil cover in NT"].replace(list(mapping_for_soil.keys()), list(mapping_for_soil.values()), inplace=True)
mapping_for_soil

{'No': 1435, 'Yes': 976, 'Mixed': 1163}

In [198]:
ryo_df[ryo_df.columns[ryo_df.dtypes == object]].describe()

         Crop
count    1634
unique      1
top     maize
freq     1634

In [199]:
ryo_df.shape

(1634, 19)

In [200]:
ryo_df[~ryo_df.isnull()]

,Relative yield change,Crop,Yield of CT,Latitude,Longitude,Years since NT started (yrs),Crop rotation with at least 3 crops involved in CT,Crop rotation with at least 3 crops involved in NT,ST,Soil cover in CT,Soil cover in NT,Weed and pest control CT,Weed and pest control NT,P,E,PB,Tave,Tmax,Tmin
18,-0.0851,maize,8189.0,24.38,90.13,1,0,0,0,NaN,NaN,NaN,NaN,1310.699997,373.681328,937.019,28.699999,32.452726,26.205395
19,-0.0845,maize,8488.0,24.38,90.13,2,0,0,0,1435.0,976.0,NaN,NaN,930.100014,414.173600,515.926,29.475000,34.458927,26.814844
20,-0.0703,maize,8508.0,24.38,90.13,3,0,0,0,1435.0,976.0,NaN,NaN,776.399979,417.035593,359.364,29.125000,33.386624,26.530992
21,-0.0748,maize,9066.0,24.38,90.13,1,0,0,0,NaN,NaN,NaN,NaN,1310.699997,373.681328,937.019,28.699999,32.452726,26.205395
22,-0.0819,maize,9245.0,24.38,90.13,2,0,0,0,1435.0,976.0,NaN,NaN,930.100014,414.173600,515.926,29.475000,34.458927,26.814844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4398,0.0000,maize,4400.0,45.53,17.98,2,1,1,0,1435.0,1435.0,0.0,0.0,584.800000,437.793000,147.007,15.000000,26.143220,3.250900
4399,-0.1186,maize,5900.0,45.53,17.98,3,1,1,0,1435.0,1435.0,0.0,0.0,524.000000,484.803000,39.197,16.257140,26.767580,4.045250
4400,-0.0992,maize,12100.0,45.55,18.69,2,1,1,0,1435.0,1435.0,0.0,0.0,533.100000,443.249000,89.851,15.757140,26.233920,3.628730
4401,-0.0758,maize,6600.0,45.55,18.69,3,1,1,0,1435.0,1435.0,0.0,0.0,507.200000,488.113000,19.087,17.000000,27.076650,4.489370
4402,-0.2128,maize,9400.0,45.55,18.69,4,1,1,0,1435.0,1435.0,0.0,0.0,374.500000,483.660000,-109.160,17.300000,26.919080,3.412560

In [201]:
ryo_df[~ryo_df.isnull().apply(lambda x: any(x), axis=1)].isnull().any()

Relative yield change                                 False
Crop                                                  False
Yield of CT                                           False
Latitude                                              False
Longitude                                             False
Years since NT started (yrs)                          False
Crop rotation with at least 3 crops involved in CT    False
Crop rotation with at least 3 crops involved in NT    False
ST                                                    False
Soil cover in CT                                      False
Soil cover in NT                                      False
Weed and pest control CT                              False
Weed and pest control NT                              False
P                                                     False
E                                                     False
PB                                                    False
Tave                                                  False
Tmax                                                  False
Tmin                                                  False
dtype: bool

In [202]:
cleaned_df = ryo_df[~ryo_df.isnull().apply(lambda x: any(x), axis=1)].rename(columns={"Relative yield change" : "Relative_yield_change", 
                                                                                      "Yield of CT" : "yield_of_CT", 
                                                                                      "Years since NT started (yrs)" : "Years_since_CT_started", 
                                                                                      "Crop rotation with at least 3 crops involved in CT" : "Crop_rotation_CT", 
                                                                                      "Crop rotation with at least 3 crops involved in NT" : "Crop_rotation_NT", 
                                                                                      "Soil cover in CT" : "Soil_cover_in_CT", 
                                                                                      "Soil cover in NT" : "Soil_cover_in_CT", 
                                                                                      "Weed and pest control CT" : "Weed_pest_control_CT", 
                                                                                      "Weed and pest control NT " : "Weed_pest_control_NT"}, inplace=False)

In [203]:
cleaned_df

,Relative_yield_change,Crop,yield_of_CT,Latitude,Longitude,Years_since_CT_started,Crop_rotation_CT,Crop_rotation_NT,ST,Soil_cover_in_CT,Soil_cover_in_CT,Weed_pest_control_CT,Weed_pest_control_NT,P,E,PB,Tave,Tmax,Tmin
39,-0.0238,maize,5470.0,45.42,-73.93,2,1,1,0,1435.0,976.0,0.0,0.0,555.9,493.022,62.878,15.70000,26.54872,0.79462
40,-0.0758,maize,2110.0,45.42,-73.93,2,1,1,0,1435.0,976.0,0.0,0.0,555.9,493.022,62.878,15.70000,26.54872,0.79462
41,0.1736,maize,6740.0,45.42,-73.93,3,1,1,0,1435.0,976.0,0.0,0.0,642.0,484.948,157.052,16.16667,26.13306,2.31443
42,-0.1622,maize,3390.0,45.42,-73.93,3,1,1,0,1435.0,976.0,0.0,0.0,642.0,484.948,157.052,16.16667,26.13306,2.31443
61,-0.1230,maize,8659.0,44.31,-96.79,3,0,0,0,1435.0,976.0,0.0,0.0,503.5,541.433,-37.933,17.80000,29.15936,3.41993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4398,0.0000,maize,4400.0,45.53,17.98,2,1,1,0,1435.0,1435.0,0.0,0.0,584.8,437.793,147.007,15.00000,26.14322,3.25090
4399,-0.1186,maize,5900.0,45.53,17.98,3,1,1,0,1435.0,1435.0,0.0,0.0,524.0,484.803,39.197,16.25714,26.76758,4.04525
4400,-0.0992,maize,12100.0,45.55,18.69,2,1,1,0,1435.0,1435.0,0.0,0.0,533.1,443.249,89.851,15.75714,26.23392,3.62873
4401,-0.0758,maize,6600.0,45.55,18.69,3,1,1,0,1435.0,1435.0,0.0,0.0,507.2,488.113,19.087,17.00000,27.07665,4.48937
4402,-0.2128,maize,9400.0,45.55,18.69,4,1,1,0,1435.0,1435.0,0.0,0.0,374.5,483.660,-109.160,17.30000,26.91908,3.41256

Preparing data for matlab

In [204]:
matlab_dataset = cleaned_df[["Relative_yield_change","P","E","PB","Tave","Tmax","Tmin"]]
matlab_train_df, matlab_test_df = train_test_split(matlab_dataset, test_size=0.2, random_state=10, shuffle=True)

In [205]:
matlab_train_df.to_csv("dataset/matlab_1_train.csv")
matlab_test_df.to_csv("dataset/matlab_1_test.csv")